body {
  background: #f8e8a6;
  text-align: center;
}
p {
  font-size: 25px;
}
.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
footer a {
  margin: 0 10px;
  color: green;
  font-size: 25px;
}
a {
  cursor: pointer;
  text-decoration: underline;
}
